*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: wheat;
    height: 15vh;
    line-height: 10rem;
}
.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: blue;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 7rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
    margin-top: 5rem;
}
#user-score,#computer-score{
    font-size: 4rem;
}


.msg-container{
    margin-top: 5rem;
}
#msg{
    margin-top: 5rem;
    background-color: #031a34;
    display: inline;
    color: wheat;
    font-size: 2rem;
    padding: 1rem;
   border-radius: 1rem;
}